# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.env
public
app/_test.php
app/_env.php
app/config/database.php
app/crud/uploads/*
!app/crud/uploads/01-bato-national-high-school.jpg
!app/crud/uploads/02-holy-trinity-college-of-camarines-sur.jpg
!app/crud/uploads/03-ocampo-academy-technological-institute.jpg
!app/crud/uploads/04-salvacion-national-high-school.jpg
!app/crud/uploads/05-san-roque-high-school.jpg
!app/crud/uploads/06-st-john-the-baptist-institute-of-bicol.jpg
!app/crud/uploads/no-avatar.jpg
!app/crud/dist
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
vendor
.phpunit.cache
.phpunit.result.cache
tests/backend/config/test-database.php
