# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.env
public
app/_test.php
app/_env.php
app/config/database.php
app/crud/uploads/*
!app/crud/uploads/01-angel-marie-melicor.jpg
!app/crud/uploads/02-benix-carol-saba.jpg
!app/crud/uploads/03-blessie-kateri-sofia-canales.jpg
!app/crud/uploads/04-daniela-joy-esquivel.jpg
!app/crud/uploads/05-hannah-grace-clavillas.jpg
!app/crud/uploads/06-hannah-paula-quebral.jpg
!app/crud/uploads/07-jamila-gonzales.jpg
!app/crud/uploads/08-janna-elosa-galan-lanuzga.jpg
!app/crud/uploads/09-kaelah-joy-opeña.jpg
!app/crud/uploads/10-kimberly-occiano.jpg
!app/crud/uploads/11-lhei-chelsea-moreno.jpg
!app/crud/uploads/12-ma.-amethyst-mauring.jpg
!app/crud/uploads/13-mien-mie-egipto.jpg
!app/crud/uploads/14-myjonica-jean-rabino.jpg
!app/crud/uploads/15-victoria-ramboyon.jpg
!app/crud/uploads/cmon.gif
!app/crud/uploads/no-avatar.jpg
!app/crud/dist
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
vendor
.phpunit.cache
.phpunit.result.cache
tests/backend/config/test-database.php
