# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.env
public
app/_test.php
app/_env.php
app/config/database.php
app/crud/uploads/*
!app/crud/uploads/01-monica-mondares.jpg
!app/crud/uploads/02-eddielyn-mayor.jpg
!app/crud/uploads/03-cyrish-hugo.jpg
!app/crud/uploads/04-kith-hanna-landong.jpg
!app/crud/uploads/05-sherrie-mae-romaraog.jpg
!app/crud/uploads/06-aira-mae-suñaz.jpg
!app/crud/uploads/07-jandel-clorado.jpg
!app/crud/uploads/08-abegail-tampoco.jpg
!app/crud/uploads/09-hanna-mikaela-buena.jpg
!app/crud/uploads/10-tricia-mae-timbang.jpg
!app/crud/uploads/11-aaliyah-krystela-david.jpg
!app/crud/uploads/12-euricka-lyn-moraña.jpg
!app/crud/uploads/13-cris-adely-labalan.jpg
!app/crud/uploads/14-fiona-patulot.jpg
!app/crud/uploads/candidate.jpg
!app/crud/uploads/no-avatar.jpg
!app/crud/dist
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
vendor
.phpunit.cache
.phpunit.result.cache
tests/backend/config/test-database.php
